$defultFontSize: 16px;
$primary_color: #0098d3;
$primary_color-hover: #0280b3;

$menu_color: #252527;

$font-light: #fff;
$font-grey-light:#e8e8e8;
$font-grey:#808080;
$font-grey-dark: #000;
$font-dark-light: #252527;
$font-dark:#000;

$backgroud-light: #fff;
$backgroud-grey-light: #e8e8e8;
$backgroud-grey: #808080;
$backgroud-grey-dark: #595959;
$backgroud-dark-ligth: #252527;
$backgroud-dark: #000;

$success: #84b84c;
$error: #f00;

$media-breackpoint-down-xs: 413.98px;
$media-breackpoint-down-sm: 573.98px;
$media-breackpoint-down-md: 767.98px;
$media-breackpoint-down-lg: 991.98px;
$media-breackpoint-down-xl: 1199.98px;

$media-breackpoint-up-xs: 320px;
$media-breackpoint-up-sm: 576px;
$media-breackpoint-up-md: 768px;
$media-breackpoint-up-lg: 992px;
$media-breackpoint-up-xl: 1200px;